<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=DESKTOP-QMOV01R\SQLEXPRESS;Database=CabinetOftalmologic;Integrated Security=true"/>
  </connectionStrings>
  <appSettings>
    <add key="ParentTableName" value="Roluri" />
    <add key="ChildTableName" value="Angajati" />
    <add key="ParentColumnNames" value="id,rol,salar" />
    <add key="ChildColumnNames" value="id,nume,prenume,rol" />
    <add key="ParentID" value="id" />
    <add key="ChildID" value="id" />
    <add key="InsertQuery" value="INSERT INTO Angajati(nume,prenume,rol) VALUES (@nume,@prenume,@rol)" />
    <add key="UpdateQuery" value="UPDATE Angajati SET prenume=@prenume, nume=@nume WHERE id=@id" />
    <add key="DeleteQuery" value="DELETE FROM Angajati WHERE id=@id" />
    <add key="InsertCommandParameters" value="@id,@nume,@prenume,@rol" />
    <add key="UpdateCommandParameters" value="@id,@prenume,@nume" />
    <add key="ParentSelect" value="SELECT * FROM Roluri" />
    <add key="ChildSelect" value="SELECT * FROM Angajati WHERE rol=@id" />
  </appSettings>
</configuration>