html, body {
	width: 100%;
	height: 100%;
}

#header {
	background-color: red;
	height: 25%;
}

#meniu {
	background-color: yellow;
	border: 1px solid black;
}

#meniu li {
	display: inline-block;
	border-right: 1px solid black;
	padding-left: 7%;
	padding-right: 7%;

}

#divMain {
	background-color: green;
	height: 60%;
}

#footer {
	background-color: pink;
	height: 12%;
}

#header, #divMain, #footer {
	display: flex;
	justify-content: left;
	align-items: center;
}

* {
	margin: 0;
}